---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<div class="card p-8 text-white">
		Hello world!

		<div class="hello p-8 border border-red-500">
			Yoyoyo
		</div>
	</div>
</Layout>